<!DOCTYPE html>
<html>
  <head>
    <title>
      DevCareers
    </title>
    <link rel = "stylesheet",href = "style.css"
  </head>
  <body>
    <h1><center>DevCareers</center></h1>
    <style>
      h1 { color : teal;
          font-family : times new roman;
          font-style : italic;
         }
    </style>
    <img src = "static/Developer.jpg" height = "320">
    <h2 style = "color: navy; "> About us</h2>
    
    <p1>We focus on recruiting developers for building high performing web & mobile products that can be securely deployed in the cloud.</p1>

    <h2>Jobs available: </h2>
    <p1> Currently not available:( </p1> <br>
    <br>

    <button> contact us</button>
  </body>
</html>